<div class="card col-12 bg-transparent text-center" >
    <div class="card-body text-info">
      <h5 class="card-title">Redes corporativas</h5>
      <h6 class="card-subtitle mb-2 ">Generalidades con respecto al funcionamiento de redes corporativas</h6>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
      </div>
    </div>
</div>
