<div class="position-relative">
  <div class="card col-12 bg-transparent text-center" *ngFor="let Hard of hard">
    <div class="card-body text-info">
      <h5 class="card-title">{{Hard.tituloH}}</h5>
      <h6 class="card-subtitle mb-2 ">{{Hard.descripcionH}}</h6>
      <div class="progress me-5 ms-5">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
          aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
          style='width:{{Hard.porcentajeH}}%'></div><strong style="color:blue;">{{Hard.porcentajeH}}%</strong>
      </div>
      <div class="position-absolute bottom-0 end-0 "*ngIf="isAdmin"><i class="bi bi-pencil me-2 text-warning" routerLink="/editarhard/{{Hard.id}}"></i><i class="bi bi-trash me-2 text-warning "
          (click)="Delete(Hard.id)"></i></div>
    </div>
  </div>
  <div class="position-absolute top-0 end-0 bg-warning p-1  "*ngIf="isAdmin"><i class="bi bi-plus-lg" data-bs-toggle="modal"
      data-bs-target="#nhard"></i></div>
</div>

<!-- aqui se construyo el  modal create-->

<div class="modal fade  " id="nhard" tabindex="-1" aria-labelledby="nhardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content bg-transparent  border-light ">
      <div class="modal-header ">
        <h5 class="modal-title text-warning" id="nhardModalLabel">Agregar Habilidad</h5>
        <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onCreate()">
          <div class="mb-3 input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Habilidad</label>
            <input type="text" class="form-control" id="tituloH" name="tituloH" [(ngModel)]="tituloH">
          </div>
          <div class="mb-3 input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Porcentaje</label>
            <input type="number" class="form-control" id="porcentajeH" name="porcentajeH" [(ngModel)]="porcentajeH">
          </div>
          <div class="mb-3 text-warning">
            <label for="exampleFormControlTextarea1 " class="form-label">Descripcion</label>
            <textarea class="form-control" id="descripcionH" name="descripcionH" [(ngModel)]="descripcionH"
              rows="3"></textarea>
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn btn-secondary text-warning" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-warning text-dark">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>