<div class="position-relative">
<div class="card col-12 bg-transparent text-center border-0 border-bottom border-warning">
  <img class="imagen" src="../../../assets/logo.png" alt="Sin Logo">
  <div class="card-body text-info">
    <h5 class="card-title">Secundario</h5>
    <h6 class="card-subtitle mb-2 ">Institucion: Gral. don Jose de San Martin</h6>
    <h6 class="card-subtitle mb-2 ">Titulo: Economia y Gestion de las organizaciones</h6>
    <p class="card-text ">01/03/2000 - 01/12/2004 Estado: Terminado</p>
    <div class="position-absolute bottom-0 end-0 "><i class="bi bi-pencil me-2 text-warning"></i><i class="bi bi-trash me-2 text-warning "></i></div>
    
  </div>
</div>
<div class="position-absolute top-0 end-0 bg-warning p-1  "><i class="bi bi-plus-lg"></i>
</div>