<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/datos-personales">Datos personales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/objetivos">Objetivos laborales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/estudios">Estudios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="experiencia">Experiencia laboral</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Habilidades
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="soft">Soft Skill</a></li>
              <li><a class="dropdown-item" href="hard">Hard Skill</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="referencias">Referencias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>