<div class="position-relative">
<div class="card col-12 bg-transparent text-center border-0 border-bottom border-warning" >
    <div class="card-body text-info">
      <h5 class="card-title">Argentina Programa</h5>
      <h6 class="card-subtitle mb-2 ">Portfolio web Fecha:08/2022</h6>
      <h6 class="card-subtitle mb-2 ">URL:</h6>
      <p class="card-text ">se desarrollo un portfolio web como trabajo final para aplicar los conocimientos adquiridos tanto en Front End como Back End</p>
      <div class="position-absolute bottom-0 end-0 "><i class="bi bi-pencil me-2 text-warning"></i><i class="bi bi-trash me-2 text-warning "></i></div>
    </div>
</div>
<div class="position-absolute top-0 end-0 bg-warning p-1  "><i class="bi bi-plus-lg"></i>
</div>