
<div class="card mb-2 ps-4" >

    <div class="row g-0" >
      <div class="col-lg-2 bg-info " style="z-index: 1;">
      
        <img src="../../assets/logo.png" class="img-fluid rounded-start p-3" alt="..."  >
        <div class="datos-personales">
            <div><h5>Datos Personales:</h5></div>
            <div><b>Nombre y Apellido:</b> Leonardo Esteban Gerez </div>
            <div><b>Fecha de nacimiento:</b> 06/09/1986</div>
            <div><b>Dni:</b> 32413341</div>
            <div><b>Cuil:</b> 20-32413341-1</div>
            <div><b>Estado Civil:</b> casado</div>
            <div><b>Cantidad de Hijos:</b> 4</div>
            
            </div>
            <div class="contacto">
                <div><h5>Datos de contacto:</h5></div>
            <div><img src="../../assets/maps.svg" alt="email" width="18" height="20"> Exequiel Bravo 749 </div>
            <div><img src="../../assets/celular.svg" alt="Telefono" width="18" height="20"> 03816370027</div>
            <div><img src="../../assets/mail.svg" alt="email" width="18" height="20"> leo0410@gmail.com</div>
            </div>
        
      </div>
      <div class="col-md-8">
        <section  >
          <div class="img-fondo d-none d-xxl-block d-xl-block d-lg-block bg-warning">
            <h2>Gerez, Leonardo Esteban</h2>
          </div>
        </section>
        <div class="card-body"style="padding-top:20vh;">
          <h5 class="card-title"><i class="bi bi-chevron-double-right text-info"></i>Sobre mi:</h5>
          <p class="card-text" style="font-size:2.8vh">Desde temprana edad he seguido con mucho interés el desarrollo de la programación. Me he preparado con el objetivo de poder cumplir con el perfil necesario para desarrollarme como programador web full stack junior. Actualmente me desempeño como administrativo, pero anteriormente tuve experiencias en trabajos relacionados con redes, espero con ansias poder aplicar para desarrollar en profundidad los conocimientos adquiridos y desarrollar mi carrera en el ambito de la programación.</p>
          
          
        </div>

      </div>
   
    </div>

  </div>
