<div class="card col-12 bg-transparent text-center border-0 border-bottom border-warning" >
    <div class="card-body text-info">
      <h5 class="card-title">Administrativo </h5>
      <h6 class="card-subtitle mb-2 ">Registro del automotor Tucuman "b" desde:05/01/2018 hasta:actual</h6>
      <h6 class="card-subtitle mb-2 "> AV. Mate de Luna 2159 - San Miguel de Tucuman - Tucuman</h6>
      <p class="card-text "> -Descripcion:atención, control y administracion de los elementos registrales del registro del automotor</p>

    </div>
</div>
