<div class="position-relative">
<div class="card col-12 bg-transparent text-center border-0 border-bottom border-warning" >
  <img class="imagen"src="../../../assets/logo.png" alt="Sin Logo">
    <div class="card-body text-info">
      <h5 class="card-title">Administrativo </h5>
      <h6 class="card-subtitle mb-2 ">Registro del automotor Tucuman "b" desde:05/01/2018 hasta:actual</h6>
      <h6 class="card-subtitle mb-2 "> AV. Mate de Luna 2159 - San Miguel de Tucuman - Tucuman</h6>
      <p class="card-text "> -Descripcion:atención, control y administracion de los elementos registrales del registro del automotor</p>
      <div class="position-absolute bottom-0 end-0 "><i class="bi bi-pencil me-2 text-warning"></i><i class="bi bi-trash me-2 text-warning "></i></div>
    </div>
</div>
<div class="position-absolute top-0 end-0 bg-warning p-1  "><i class="bi bi-plus-lg"></i>
</div>