<!-- Aquí se creo el navbar-->

<nav class="head navbar  navbar-expand-lg">
    <div class="container-fluid">
  
      <!-- Desde Aquí se inserto el logo de argentina programa-->
  
      <img src="../../assets/logo.png" alt="logo ArgentinaPrograma" width="15%" height="15%"
        class="d-inline-block align-text-top" style="float:left">
      <a class="navbar-brand me-auto" href="https://argentinaprograma.inti.gob.ar">
        <h2 class="yoprogramo"><b>#YoProgramo</b></h2>
      </a>
  
      <!-- Desde aqui se creo el menu colapsable-->
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        style="border-color: black;">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Desde Aquí se inserto lo que esta dentro del menu-->
  
      <div class="collapse navbar-collapse" id="menu">
  
        <!-- Aquí se crearon los iconos desde bootstrap de las redes sociales-->
  
        <ul class="navbar-nav flex-row flex-wrap ms-auto" *ngIf="logged">
          <li class="nav-item col-6 col-md-auto -3 ">
            <a href="https://www.facebook.com" style="text-decoration:none">
              <i class="bi bi-facebook" style="font-size: 3vw; color: whitesmoke;margin-right:0.5vw;"></i>
              <small class="d-md-none ms-2 text-light">Facebook</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto -3">
            <a href="https://twitter.com/" style="text-decoration:none">
              <i class="bi bi-twitter" style="font-size: 3vw; color: whitesmoke;margin-right:0.5vw;"></i>
              <small class="d-md-none ms-2 text-light">Twitter</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto -3">
            <a href="https://ar.linkedin.com/" style="text-decoration:none">
              <i class="bi bi-linkedin" style="font-size: 3vw; color: whitesmoke;margin-right:0.5vw;"></i>
              <small class="d-md-none ms-2 text-light">Linkedin</small>
            </a>
          </li>
          <li class="nav-item col-6 col-md-auto -3">
            <a href="https://github.com/seulgeant/Portfolioweb" style="text-decoration:none">
              <i class="bi bi-github" style="font-size: 3vw; color: whitesmoke; margin-right:0.5vw;"></i>
              <small class="d-md-none ms-2 text-light">GitHub</small>
            </a>
          </li>
        </ul>
  
        <!-- Desde Aquí se creo el boton del login y Logout -->
  
        
      </div>
      <form class="d-flex " role="search">
        <button type="button" class="btn btn-outline-warning" style="border:0.5vw outset rgb(255, 217, 0);
            border-radius: 1vw;min-height: 8vh ;min-width: 6.5vw;" data-bs-toggle="modal"
          data-bs-target="#exampleModal" *ngIf="!logged"><b>ENTRAR</b></button>
          <button type="submit" class="btn btn-outline-warning" style="border:0.5vw outset rgb(255, 217, 0);
          border-radius: 1vw;min-height: 8vh ;min-width: 6.5vw;"*ngIf="logged" (click)="Logout()"><b>Salir</b></button>
      </form>
    </div>
  </nav>
  
  <!-- aqui se construyo el modal-->
  
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content bg-transparent text-warning border-light">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Acceder</h5>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="OnLogin()" >
            <div class="mb-3">
              <label for="exampleInputText1" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>