<!-- Aquí se creo el navbar-->

<nav class="navbar bg-info navbar-expand-lg">
  <div class="container-fluid">

    <!-- Desde Aquí se inserto el logo de argentina programa-->

    <img src="../../assets/logo.png" alt="logo ArgentinaPrograma" width="15%" height="15%"
      class="d-inline-block align-text-top" style="float:left">
    <a class="navbar-brand me-auto" href="https://argentinaprograma.inti.gob.ar">
      <h2><b style="font-size:6.5vh">#YoProgramo</b></h2>
    </a>

    <!-- Desde aqui se creo el menu colapsable-->

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      style="border-color: black;">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Desde Aquí se inserto lo que esta dentro del menu-->

    <div class="collapse navbar-collapse" id="menu">

      <!-- Aquí se crearon los iconos desde bootstrap de las redes sociales-->

      <ul class="navbar-nav flex-row flex-wrap ms-auto">
        <li class="nav-item col-6 col-md-auto -3 ">
          <a href="https://www.facebook.com" style="text-decoration:none">
            <i class="bi bi-facebook" style="font-size: 3vw; color: black;margin-right:0.5vw;"></i>
            <small class="d-md-none ms-2 text-black">Facebook</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto -3">
          <a href="https://twitter.com/" style="text-decoration:none">
            <i class="bi bi-twitter" style="font-size: 3vw; color: black;margin-right:0.5vw;"></i>
            <small class="d-md-none ms-2 text-black">Twitter</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto -3">
          <a href="https://ar.linkedin.com/" style="text-decoration:none">
            <i class="bi bi-linkedin" style="font-size: 3vw; color: black;margin-right:0.5vw;"></i>
            <small class="d-md-none ms-2 text-black">Linkedin</small>
          </a>
        </li>
        <li class="nav-item col-6 col-md-auto -3">
          <a href="https://github.com/seulgeant/Portfolioweb" style="text-decoration:none">
            <i class="bi bi-github" style="font-size: 3vw; color: black; margin-right:0.5vw;"></i>
            <small class="d-md-none ms-2 text-black">GitHub</small>
          </a>
        </li>
      </ul>

      <!-- Desde Aquí se creo el boton del login -->

      <form class="d-flex" role="search">
        <button type="button" class="btn btn-outline-warning" style="border:0.5vw outset rgb(255, 217, 0);
            border-radius: 1vw;min-height: 8vh ;min-width: 6.5vw;"><b>ENTRAR</b></button>
      </form>
    </div>
  </div>
</nav>